{% extends 'base.html' %}

{% block content %}
    <h1>Delete post</h1>

    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure want delete post "{{ post.title }}"</p>
        <input type="submit" value="Confirm">
    </form>

{% endblock content %}